.login_page{
  background-color: #AFD4C0;
}
.login_container{
  background-color: #ffff;
  margin: 0 auto;
  width: 850px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_container img {
  margin-bottom: 50px;
}
.login_form{
  width: 100%;
  text-align: center;
}
.login_form label {
  position: relative;
  left: -28%;
  font-size: 20px;
  font-weight: 700;
}
.login_form input {
  font-size: 25px;
  width: 70%;
  margin-bottom: 25px;
  margin-top: 3px;
  border: 1px solid #519872;
  outline: none;
}

/* LOGIN BUTTONS */

.auth_btn_container{

}
.auth_btn_login, .auth_btn_register{
  border: none;
  width: 130px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
}
.auth_btn_login{
  background-color: #8aea92;
}
.auth_btn_register{
  background-color: #3b5249;
}