.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.HeaderHome{
  background-color: #A92C21;
  display: flex;
  justify-content: center;

}
.HeaderHome > *{
  color: #ffff;
}
.HeaderHome >p{
  margin-top: 33px;
  margin-left: 10px;
}
.HeaderHome > img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
a{
  text-decoration: none;
}
.shelfButton{
  margin: 10px auto;
  background: #D1483B;
  padding: 12px;
  border-radius: 4px;
  text-align: left;
  padding-left: 18px;
  color: #ffff;
  width: 35%;
}
.Header{
  display: flex;
}
.Header div{
  width: 80%;
  background: red;
  color: #ffff;
  padding-top: 17px;
  text-align: left;
}
.Header a {
  width: 20%;
  background: #A92C21;
}
.Header img {
  width: 50%;
  height: 50%;
}
.BinButton{
  background: #ED6B5A;
  width: 40%;
  margin: 17px auto;
  padding: 15px;
  border-radius: 4px;
  color: #ffff;
  text-align: left;
}

.BinButtonAdd {
  background: pink;
}
.FullHeader{
  background: #ed6b5a;
  display: flex;
}
.Home{
  width: 20%;
  background: red;
}
.Shelf{
  width: 30%;
  background: pink;
}