body {
    box-sizing: border-box;
    margin: 0;
}
/*--This is the fixed Navbar Section ---*/
/* --top section of the navbar -- */
.navbar-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 30;
}
.navbar-top-container{
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    border-bottom: 1px solid lightgray;
    width: 100%;
}
.nav-left-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
}
.nav-right-container{
    display: flex;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
    margin-top: 0;
    margin-bottom: 0;
    width: 80px;
    height: 35px;
    border-right: 1px solid lightgray;
}
#box{
    width: 150px;
    border-left: 1px solid lightgray;
}

/* -- bottom section of navbar -- */
.navbar-bot-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid lightgray;
    width: 100%;
}
.nike-logo-container{
    width: 205px;
}
#nike_logo {
    width: 60px;
    margin-left: 25px;
    padding-top: 25px;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#navlink{
    width: 85px;
    height: 20px;
    margin: 0px;
    padding-top: 30px;
}
.form-search{
    margin-top: 23px;
    margin-right: 16px;
}
#search-bar {
    width: 205px;
    text-align: center;
}
/*----------- END NAVBAR ---------------*/
/*-----------BODY SECTION -------------*/
.body-section-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
img{
    height: 100%;
    width: 100%;
}

.video{
    border: 1px solid yellow;
}



/*-- MEDIA QUIERIES --*/
/* @media (min-width: 1250px ){
    

} */