body{
  background:#242424;
  color: #fff;
}
.App {
  text-align: center;
  /* padding: 5%; */
}
.App-title{
  font-size: 35px;
  padding-bottom: 10px;
}

/* Header */
.header-container {
  background-color: #131313;
  padding-top: 4%;
  width: 100%;
  
}
.logged-in{

}
.form-group {
  padding: 3% 5%;
}
/* Profiles */

.profile {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-info {
  margin-left: 3%;
  max-width: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-img {
  width: 200px;
  height: 200px;
  border: 3px solid #fff;
  border-radius: 100px;
  object-fit: cover;
}

.profile-name {
  font-size: 45px;
  padding: 5px;
}

.profile-followers, .profile-genres {
  font-size: 15px;
}

/* Gallery */
.track{
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 20px;
}

.track-img{
  width: 220px;
  height: 220px;
  object-fit: cover;
}