body{
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.35), 
        rgba(12, 12, 12, 0.35)
      ),
      url("/img/feed.mt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}
main{
    text-align: center;
}
h1.feed-title{
    font-size: 70px;
    color: rgb(238, 238, 238);
    margin-top: 100px;
    margin-bottom: 30px;
}
/* .header-nav {
    height: 75px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    letter-spacing: 1px;
} */
.title{
    width: 250px;
    font-size: 40px;
    float: left;
    padding: 17px;
    margin-left: 30px;
    color: #215258;
}
.nav-buttons{
    width: 175px;
    float: right;
    padding: 25px;
    margin-right: 10px;
    font-size: 24px;
}
.profile-btn{
    color: #215848;
    float: left;
    cursor: pointer;
}

.logout-btn{
    color: #215848;
    float: right;
    cursor: pointer;
}
.card-container{
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    border: solid 1px rgb(122, 122, 122);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    background-color: white;
    opacity: .7;

}
.card-container img{
    width: 25%;
    height: 200px;
    margin: 15px;
    margin-top: 35px;
}
.card-text-container{
    width: 70%;
    text-align: center;
}
.card-text-container h4 {
    margin: 0px;
    font-size: 25px;
    color: black;
}
.card-text-container p {
    text-align: left;
}
.see-more-container {
    text-align: center;
}
.see-more-container a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}