h1{
    color: black;
}
body{
    background-image: url("/img/trees.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.main-container {
    margin: 30vh auto;
    width: 500px;
    height: 300px;
    border: 1px black solid;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    opacity: .6;
    border-radius: 4px;

}
#title {
    letter-spacing: 1px;
}
.login-container {
    margin: auto;
    width: 300px;
    text-align: left;
    border-top: 1px solid gray;
    padding-top: 5px;
}
.label-input {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
.label-input label {
    padding-top: 7px;
}
.label-input input {
    border: none;
    border-bottom: 1px solid gray;
    width: 70%;
    outline: none;
    font-size: 20px;

}
.sub-title {
    color:#215848;
    font-size: 25px;
}
.btn-container{
    text-align: center;
}
.login-button {
    margin-top: 15px;
    font-size: 20px;
    background-color: #215848;
    width: 50%;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}