body{
    background-image: linear-gradient( rgba(12, 12, 12, 0.15), 
    rgba(12, 12, 12, 0.15)), url("/img/profile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.header-nav {
    height: 75px;
    /* background-color: rgb(255, 255, 255); */
    opacity: .9;
    letter-spacing: 1px;
}
.title{
    width: 300px;
    font-size: 40px;
    float: left;
    padding: 15px;
    margin-left: 30px;
    color: #215258;
}
.nav-buttons{
    width: 150px;
    float: right;
    padding: 25px;
    margin-right: 10px;
    font-size: 24px;
}
.feed-btn{
    color: #215848;
    float: left;
}

.logout-btn{
    color: #215848;
    float: right;
}

.main-container{
    margin: auto;
    
    width: 50%;
    text-align: center;
    /* background-color: white;
    opacity: .6; */
}
.main-container h1 {
    font-size: 750%;
    margin: 0;
    color: white;
}

.account-container{
    margin-top: 40vh;
}