body{
    font-family: 'Dosis', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Alegreya Sans', sans-serif;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}